/.vscode
/2java.html
/bistro bliss.html
/breakfast.jpg
/button.html
/canvas.html
/collage of hexagon.html
/correctone.html
/cryp.jpeg
/dessert.jpg
/dinner.jpg
/emai.png
/facebook.png
/food.jpg
/form.html
/html stu.html
/iframe.html
/imagewithbutton.html
/img1.jpeg
/img2.jpeg
/insta.png
/java.html
/javafunction.html
/javs.html
/juice.jpg
/kaamkisliding.html
/kxtohha.html
/my first JS.html
/namkin.jpg
/navigation.html
/noodles.png
/option1.html
/option2.html
/paragrapkh tags.html
/pic_bulboff.gif
/pic_bulbon.gif
/pn.png
/rabb.jpg
/RasmalaiSR-1.webp
/s.JPG
/slider.html
/snacks.jpg
/table slider image.html
/table tag.html
/table_image.html
/tags.html
/tic-tac-toe.html
/tube.js
/twitter.png
/video.mp4